:root {
  font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1000px;
  padding: 10px;
}
