.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header h1 {
  margin: 50px 0 10px 0;
  color: #1f37c7;
}
.header p span {
  background-color: #d9dcee;
  padding: 2px 5px;
  border-radius: 5px;
}
